.imagens-sliders{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.seta{
    z-index: 1;
    position: absolute;
}

.seta.voltar{
    transform: rotateY(180deg);
    left: 4%;
}

.seta.avancar{
    right: 4%;
}

.opacidade{
    opacity: 0.6;
}

.slider{
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-out;
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mostrar{
    opacity: 1;
}

.rosa{
    background-image: url(../images/imagem.png);
}

.verde{
    background-image: url(../images/imagem2.png);
}

.laranja{
    background-image: url(../images/imagem3.png);
}

.azul{
    background-image: url(../images/imagem4.png);
}

.slider .conteudo{
    width: 620px;
    height: 700px;
    background:#FFF;
    margin-left: 180px;
    border-radius: 10px;
    padding: 65px 60px;
}

.slider .conteudo .titulo-conteudo{
    font-size: 5rem;
    font-weight: 400;
}

.slider .conteudo .texto-conteudo{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 80px 0 50px 0;
}

.slider .conteudo .btn-saiba-mais{
    font-size: 3rem;
    font-weight: 400;
}

.btn-rosa{
    color: #C50000;
}

.btn-verde{
    color: #D9DD10;
}

.btn-laranja{
    color: #A63A17;
}

.btn-azul{
    color: #10ACDD;
}

