body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    height: 415px;
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
}

.container-left{
    display: flex;
    justify-content: space-around;
    width: 578px;
    flex-direction: column;
    gap: 10px;
    padding: 35px 35px;
    height: 100%;
}

.container-left .video{
    width: 543px;
    height: 217px;
}

.container-left .tittle-video{
    font-size: 18px;
    font-weight: 700;
}

.container-left .visualization{
    font-size: 14px;
    font-weight: 300;
}

.container-left .description{
    font-size: 16px;
    font-weight: 300;
}

.container-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px 17px;
}

.container-right .advertising{
    text-align: center;
    line-height: 56px;
    width: 270px;
    height: 56px;
    background-color: #C4C4C4;
}

.aside{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-right .container-aside{
    display: flex;
    gap: 4px;
}


.container-right .aside-video video{
    width: 100px;
    height: 70px;
}

.container-right .aside-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-right .tittle-video-aside{
    font-size: 14px;
    font-weight: 700;
}

.container-right .name-video-aside,
.container-right .visualization-video-aside,
.container-right .date-video-aside{
    font-size: 11px;
    font-weight: 300;
}